.cd-headline.type .cd-words-wrapper.selected::after,
.cd-headline.type b {
    visibility: hidden
}
.cd-headline.clip span,
.cd-headline.loading-bar span,
.cd-headline.slide span {
    padding: .2em 0;
    display: inline-block
}
.cd-headline.clip .cd-words-wrapper,
.cd-headline.loading-bar .cd-words-wrapper,
.cd-headline.slide .cd-words-wrapper,
.cd-headline.type .cd-words-wrapper {
    vertical-align: top;
    overflow: hidden
}
.subscriber-form form input:focus,
a:focus,
a:hover,
button:focus {
    outline: 0
}
.gallery-view,
.welcome-text-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal
}
*,
::after,
::before {
    box-sizing: border-box
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
html {
    font-size: 62.5%
}
body {
    background-color: #0d0d0d
}
.cd-title {
    position: relative;
    height: 160px;
    line-height: 230px;
    text-align: center
}
.cd-title h1 {
    font-size: 2.4rem;
    font-weight: 700
}
.cd-intro {
    width: 90%;
    max-width: 768px;
    text-align: center;
    margin: 4em auto
}
@media only screen and (min-width: 768px) {
    .cd-title {
        line-height: 250px
    }
    .cd-intro {
        margin: 5em auto
    }
}
@media only screen and (min-width: 1170px) {
    .cd-title {
        height: 200px;
        line-height: 300px
    }
    .cd-title h1 {
        font-size: 3rem
    }
    .cd-intro {
        margin: 6em auto
    }
}
.cd-headline {
    font-size: 3rem;
    line-height: 1.2
}
@media only screen and (min-width: 768px) {
    .cd-headline {
        font-size: 4.4rem;
        font-weight: 300
    }
}
@media only screen and (min-width: 1170px) {
    .cd-headline {
        font-size: 6rem
    }
}
.cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left
}
.cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0
}
.cd-words-wrapper b.is-visible {
    position: relative
}
.no-js .cd-words-wrapper b {
    opacity: 0
}
.no-js .cd-words-wrapper b.is-visible {
    opacity: 1
}
.cd-headline.rotate-1 .cd-words-wrapper {
    -webkit-perspective: 300px;
    perspective: 300px
}
.cd-headline.rotate-1 b {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg)
}
.cd-headline.rotate-1 b.is-visible {
    opacity: 1;
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -webkit-animation: cd-rotate-1-in 1.2s;
    animation: cd-rotate-1-in 1.2s
}
.cd-headline.rotate-1 b.is-hidden {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    -webkit-animation: cd-rotate-1-out 1.2s;
    animation: cd-rotate-1-out 1.2s
}
@-webkit-keyframes cd-rotate-1-in {
    0% {
        -webkit-transform: rotateX(180deg);
        opacity: 0
    }
    35% {
        -webkit-transform: rotateX(120deg);
        opacity: 0
    }
    65% {
        opacity: 0
    }
    100% {
        -webkit-transform: rotateX(360deg);
        opacity: 1
    }
}
@keyframes cd-rotate-1-in {
    0% {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
        opacity: 0
    }
    35% {
        -webkit-transform: rotateX(120deg);
        transform: rotateX(120deg);
        opacity: 0
    }
    65% {
        opacity: 0
    }
    100% {
        -webkit-transform: rotateX(360deg);
        transform: rotateX(360deg);
        opacity: 1
    }
}
@-webkit-keyframes cd-rotate-1-out {
    0% {
        -webkit-transform: rotateX(0);
        opacity: 1
    }
    35% {
        -webkit-transform: rotateX(-40deg);
        opacity: 1
    }
    65% {
        opacity: 0
    }
    100% {
        -webkit-transform: rotateX(180deg);
        opacity: 0
    }
}
@keyframes cd-rotate-1-out {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 1
    }
    35% {
        -webkit-transform: rotateX(-40deg);
        transform: rotateX(-40deg);
        opacity: 1
    }
    65% {
        opacity: 0
    }
    100% {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
        opacity: 0
    }
}
.cd-headline.type .cd-words-wrapper::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 90%;
    width: 1px;
    background-color: #aebcb9
}
.cd-headline.type .cd-words-wrapper.waiting::after {
    -webkit-animation: cd-pulse 1s infinite;
    animation: cd-pulse 1s infinite
}
.cd-headline.type .cd-words-wrapper.selected {
    background-color: #aebcb9
}
.cd-headline.type .cd-words-wrapper.selected b {
    color: #0d0d0d
}
a,
a:focus,
a:hover {
    color: #000;
    text-decoration: none
}
.cd-headline.type b.is-visible {
    visibility: visible
}
.cd-headline.type i {
    position: absolute;
    visibility: hidden
}
.cd-headline.type i.in {
    position: relative;
    visibility: visible
}
@-webkit-keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        opacity: 1
    }
    40% {
        -webkit-transform: translateY(-50%) scale(.9);
        opacity: 0
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        opacity: 0
    }
}
@keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        opacity: 1
    }
    40% {
        -webkit-transform: translateY(-50%) scale(.9);
        transform: translateY(-50%) scale(.9);
        opacity: 0
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        opacity: 0
    }
}
.cd-headline.rotate-2 .cd-words-wrapper {
    -webkit-perspective: 300px;
    perspective: 300px
}
.cd-headline.rotate-2 em,
.cd-headline.rotate-2 i {
    display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}
.cd-headline.rotate-2 b {
    opacity: 0
}
.cd-headline.rotate-2 i {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-20px) rotateX(90deg);
    transform: translateZ(-20px) rotateX(90deg);
    opacity: 0
}
.is-visible .cd-headline.rotate-2 i {
    opacity: 1
}
.cd-headline.rotate-2 i.in {
    -webkit-animation: cd-rotate-2-in .4s forwards;
    animation: cd-rotate-2-in .4s forwards
}
.cd-headline.rotate-2 i.out {
    -webkit-animation: cd-rotate-2-out .4s forwards;
    animation: cd-rotate-2-out .4s forwards
}
.cd-headline.rotate-2 em {
    -webkit-transform: translateZ(20px);
    transform: translateZ(20px)
}
.no-csstransitions .cd-headline.rotate-2 i {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 0
}
.no-csstransitions .cd-headline.rotate-2 i em {
    -webkit-transform: scale(1);
    transform: scale(1)
}
.no-csstransitions .cd-headline.rotate-2 .is-visible i {
    opacity: 1
}
@-webkit-keyframes cd-rotate-2-in {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(90deg)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(-10deg)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0)
    }
}
@keyframes cd-rotate-2-in {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(90deg);
        transform: translateZ(-20px) rotateX(90deg)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(-10deg);
        transform: translateZ(-20px) rotateX(-10deg)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0);
        transform: translateZ(-20px) rotateX(0)
    }
}
@-webkit-keyframes cd-rotate-2-out {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0)
    }
    60% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-100deg)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-90deg)
    }
}
@keyframes cd-rotate-2-out {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0);
        transform: translateZ(-20px) rotateX(0)
    }
    60% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-100deg);
        transform: translateZ(-20px) rotateX(-100deg)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-90deg);
        transform: translateZ(-20px) rotateX(-90deg)
    }
}
.cd-headline.loading-bar .cd-words-wrapper::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #0096a7;
    z-index: 2;
    -webkit-transition: width .3s -.1s;
    transition: width .3s -.1s
}
.main-area,
body,
html {
    height: 100%
}
.cd-headline.loading-bar .cd-words-wrapper.is-loading::after {
    width: 100%;
    -webkit-transition: width 3s;
    transition: width 3s
}
.cd-headline.loading-bar b {
    top: .2em;
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}
.cd-headline.loading-bar b.is-visible {
    opacity: 1;
    top: 0
}
.cd-headline.slide b {
    opacity: 0;
    top: .2em
}
.cd-headline.slide b.is-visible {
    top: 0;
    opacity: 1;
    -webkit-animation: slide-in .6s;
    animation: slide-in .6s
}
.cd-headline.slide b.is-hidden {
    -webkit-animation: slide-out .6s;
    animation: slide-out .6s
}
@-webkit-keyframes slide-in {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateY(20%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}
@keyframes slide-in {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateY(20%);
        transform: translateY(20%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}
@-webkit-keyframes slide-out {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
    60% {
        opacity: 0;
        -webkit-transform: translateY(120%)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(100%)
    }
}
@keyframes slide-out {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    60% {
        opacity: 0;
        -webkit-transform: translateY(120%);
        transform: translateY(120%)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }
}
.cd-headline.clip .cd-words-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: #aebcb9
}
.area-title::after,
.main-area-bg::after,
.main-area-bg::before,
.single-counter::before {
    content: ""
}
.cd-headline.clip b {
    opacity: 0
}
.cd-headline.clip b.is-visible {
    opacity: 1
}
.cd-headline.zoom .cd-words-wrapper {
    -webkit-perspective: 300px;
    perspective: 300px
}
.cd-headline.zoom b {
    opacity: 0
}
.cd-headline.zoom b.is-visible {
    opacity: 1;
    -webkit-animation: zoom-in .8s;
    animation: zoom-in .8s
}
.cd-headline.zoom b.is-hidden {
    -webkit-animation: zoom-out .8s;
    animation: zoom-out .8s
}
@-webkit-keyframes zoom-in {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(100px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(0)
    }
}
@keyframes zoom-in {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(100px);
        transform: translateZ(100px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}
@-webkit-keyframes zoom-out {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateZ(-100px)
    }
}
@keyframes zoom-out {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateZ(-100px);
        transform: translateZ(-100px)
    }
}
.cd-headline.rotate-3 .cd-words-wrapper {
    -webkit-perspective: 300px;
    perspective: 300px
}
.cd-headline.rotate-3 b {
    opacity: 0
}
.cd-headline.rotate-3 i {
    display: inline-block;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}
.is-visible .cd-headline.rotate-3 i {
    -webkit-transform: rotateY(0);
    transform: rotateY(0)
}
.cd-headline.rotate-3 i.in {
    -webkit-animation: cd-rotate-3-in .6s forwards;
    animation: cd-rotate-3-in .6s forwards
}
.cd-headline.rotate-3 i.out {
    -webkit-animation: cd-rotate-3-out .6s forwards;
    animation: cd-rotate-3-out .6s forwards
}
.no-csstransitions .cd-headline.rotate-3 i {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 0
}
.no-csstransitions .cd-headline.rotate-3 .is-visible i {
    opacity: 1
}
@-webkit-keyframes cd-rotate-3-in {
    0% {
        -webkit-transform: rotateY(180deg)
    }
    100% {
        -webkit-transform: rotateY(0)
    }
}
@keyframes cd-rotate-3-in {
    0% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg)
    }
    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0)
    }
}
@-webkit-keyframes cd-rotate-3-out {
    0% {
        -webkit-transform: rotateY(0)
    }
    100% {
        -webkit-transform: rotateY(-180deg)
    }
}
@keyframes cd-rotate-3-out {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0)
    }
    100% {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg)
    }
}
.cd-headline.scale b {
    opacity: 0
}
.cd-headline.scale i {
    display: inline-block;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0)
}
.is-visible .cd-headline.scale i {
    opacity: 1
}
.cd-headline.scale i.in {
    -webkit-animation: scale-up .6s forwards;
    animation: scale-up .6s forwards
}
.cd-headline.scale i.out {
    -webkit-animation: scale-down .6s forwards;
    animation: scale-down .6s forwards
}
.no-csstransitions .cd-headline.scale i {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0
}
.no-csstransitions .cd-headline.scale .is-visible i {
    opacity: 1
}
@-webkit-keyframes scale-up {
    0% {
        -webkit-transform: scale(0);
        opacity: 0
    }
    60% {
        -webkit-transform: scale(1.2);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1
    }
}
@keyframes scale-up {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    60% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}
@-webkit-keyframes scale-down {
    0% {
        -webkit-transform: scale(1);
        opacity: 1
    }
    60% {
        -webkit-transform: scale(0);
        opacity: 0
    }
}
@keyframes scale-down {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
    60% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
}
.cd-headline.push b {
    opacity: 0
}
.cd-headline.push b.is-visible {
    opacity: 1;
    -webkit-animation: push-in .6s;
    animation: push-in .6s
}
.cd-headline.push b.is-hidden {
    -webkit-animation: push-out .6s;
    animation: push-out .6s
}
@-webkit-keyframes push-in {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(10%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0)
    }
}
@keyframes push-in {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(10%);
        transform: translateX(10%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}
@-webkit-keyframes push-out {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0)
    }
    60% {
        opacity: 0;
        -webkit-transform: translateX(110%)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(100%)
    }
}
@keyframes push-out {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    60% {
        opacity: 0;
        -webkit-transform: translateX(110%);
        transform: translateX(110%)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
}
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Josefin+Sans:400,700);
.alignleft {
    float: left;
    margin-right: 15px
}
.alignright {
    float: right;
    margin-left: 15px
}
.aligncenter {
    display: block;
    margin: 0 auto 15px
}
a {
    -webkit-transition: .3s;
    transition: .3s
}
ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none
}
img {
    max-width: 100%;
    height: auto
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'sans-serif', sans-serif;
    letter-spacing: 2px
}
body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;
    color: #555
}
.area-title h2,
.single-service h3 {
    font-family: "Josefin Sans", sans-serif
}
.fix {
    overflow: hidden
}
.relative {
    position: relative;
    overflow: hidden
}
.absulute,
.v-center {
    position: absolute
}
.v-center {
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}
.social-bookmark li {
    display: inline
}
.social-bookmark li a {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 18px;
    padding-top: 5px
}
.inline li {
    display: inline
}
.inline-block li {
    display: inline-block;
    padding: 5px 15px
}
.navbar-toggle {
    border: 2px solid #00aff0;
    border-radius: 0
}
.navbar-toggle .icon-bar {
    background: #00aff0
}
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0 1000px #fff inset!important
}
.area-title {
    display: inline-block;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    width: 100%
}
.area-title::after {
    background: #000;
    height: 5px;
    left: 50%;
    position: absolute;
    bottom: 24px;
    width: 50px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}
.area-title h2 {
    background: #fff;
    color: #000;
    display: inline-block;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 5px;
    line-height: 1;
    margin-bottom: 40px;
    padding: 0 10px;
    position: relative;
    text-transform: capitalize;
    z-index: 9
}
.title-box {
    box-shadow: 0 0 0 10px #000;
    height: 80%;
    left: 0;
    position: absolute;
    top: -10px;
    width: 16%;
    z-index: 1;
    display: none
}
.area-title.title-inverse .title-box {
    left: auto;
    right: 0
}
.section-padding {
    padding: 100px 0
}
.padding-100-50,
.padding-100-70,
.padding-top {
    padding-top: 100px
}
.padding-bottom {
    padding-bottom: 100px
}
.padding-100-70 {
    padding-bottom: 70px
}
.padding-100-50 {
    padding-bottom: 50px
}
.gray-bg {
    background: #EFEFEF
}
.dark-bg {
    background: #000;
    color: #fff
}
.dark-bg .area-title h2 {
    color: #fff
}
a.readmore {
    background: #333;
    color: #fff;
    display: inline-block;
    letter-spacing: 2px;
    margin-top: 20px;
    min-width: 160px;
    padding: 10px 30px;
    text-align: center
}
a.readmore:hover {
    background: #000;
    color: #fff
}
.main-area {
    position: relative;
    width: 100%;
    overflow: hidden
}
.main-area-bg,
.main-area-bg::after,
.main-area-bg::before {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0
}
.main-area-bg {
    background: url(../img/background/default_3.jpg) center center/cover no-repeat rgba(0, 0, 0, 0)
}
.main-area-bg::before {
    border: 10px solid #fff;
    z-index: 1
}
.main-area-bg::after {
    background: #000;
    opacity: .5
}
.transparent-layer .main-area-bg::after {
    background: url(../img/pattarn.png) #000
}
.welcome-text-area {
    color: #fff;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    position: relative;
    z-index: 2
}
.welcome-text h1,
.welcome-text h3 {
    font-size: 30px;
    letter-spacing: 6px;
    text-transform: uppercase
}
.home-button a,
.subscriber-form form button {
    letter-spacing: 2px;
    text-transform: capitalize;
    font-weight: 700
}
.welcome-text h1 {
    font-size: 60px;
    line-height: 1
}
.home-button {
    margin-top: 60px
}
.home-button a {
    background: #fff;
    color: #000;
    font-size: 15px;
    margin: 0 10px;
    padding: 10px 20px;
    min-width: 140px;
    display: inline-block
}
.home-button a:hover {
    background: #000;
    color: #fff
}
.subscriber-form form {
    border-bottom: 2px solid;
    height: 44px;
    margin: 0 auto 40px;
    position: relative;
    width: 50%;
    background: rgba(255, 255, 255, .2)
}
.subscriber-form form input {
    background: 0 0;
    border: 0;
    font-size: 18px;
    height: 100%;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 100%
}
.subscriber-form input::-webkit-input-placeholder {
    color: #fff
}
.subscriber-form input::-moz-placeholder {
    color: #fff
}
.subscriber-form input:-moz-placeholder {
    color: #fff
}
.subscriber-form form button {
    background: #fff;
    border: 0;
    color: #000;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    width: 30%
}
.subscriber-form form button:hover {
    background: #000;
    color: #fff
}
.subscriber-form label {
    color: #fff;
    left: 0;
    margin: 0;
    position: absolute;
    text-align: center;
    top: -25px;
    width: 100%
}
.subscriber-form label.valid {
    top: 10px
}
.clock-countdown {
    bottom: 0;
    left: 0;
    margin: 0 auto 30px;
    position: relative;
    right: 0;
    top: 0
}
.coundown-timer {
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase
}
.single-counter {
    display: inline-block;
    font-family: sans-serif;
    letter-spacing: 5px;
    position: relative;
    width: 150px;
    padding: 18px 10px 10px
}
.single-counter::before {
    height: 4px;
    left: 0;
    position: absolute;
    top: 60px;
    width: 100%
}
.single-counter:last-child::after {
    display: none
}
.coundown-timer span {
    display: block
}
.coundown-timer .normal {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: -6px;
    padding-top: 10px;
    margin-top: 10px
}
.information-contact,
.social-book-mark {
    bottom: 20px;
    position: absolute;
    right: 20px;
    z-index: 9
}
.information-contact {
    right: auto;
    left: 20px
}
.information-contact li,
.single-contact ul li,
.social-book-mark li {
    display: inline-block
}
.information-contact li a,
.single-contact ul li a,
.social-book-mark li a {
    background: #fff;
    color: #000;
    display: inline-block;
    height: 31px;
    padding-top: 3px;
    text-align: center;
    width: 30px;
    margin-left: 5px
}
.information-contact li a,
.single-contact ul li a {
    margin-left: auto;
    margin-right: 5px
}
.information-contact li a:hover,
.single-contact ul li a:hover,
.social-book-mark li a:hover {
    background: #000;
    color: #fff
}
.left-contact-content,
.right-details-content {
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    background: #fff;
    z-index: 9;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0 40px;
    -webkit-transition: .5s;
    transition: .5s
}
.right-details-content {
    left: auto;
    right: -50%
}
.left-contact-content.content-open {
    border-right: 1px solid #000;
    left: 0
}
.right-details-content.content-open {
    border-left: 1px solid #000;
    right: 0
}
.push-content-close {
    background: #000;
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    height: 40px;
    padding-top: 5px;
    position: fixed;
    right: -40px;
    text-align: center;
    top: 10px;
    -webkit-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    width: 40px
}
.left-contact-content .push-content-close {
    left: -40px;
    right: auto
}
.right-details-content.content-open .push-content-close {
    right: 0
}
.left-contact-content.content-open .push-content-close {
    left: 0
}
.gallery-area.padding-bottom,
.service-area.padding-bottom {
    padding-bottom: 70px
}
.single-service {
    margin-bottom: 30px
}
.servive-icon {
    color: #000;
    font-size: 50px;
    margin-bottom: 10px
}
.single-service h3 {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase
}
.single-gallery {
    margin-bottom: 30px;
    overflow: hidden;
    position: relative
}
.bubble-bg #bubble-bg,
.bubble-perticle #bubble-perticle,
.gallery-view,
.move-perticle #demo-perticle,
.winter-bg #winter-effect {
    position: absolute
}
.gallery-thumb img {
    width: 100%
}
.gallery-view {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: calc(100% - 20px);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 10px;
    letter-spacing: 2px;
    opacity: 0;
    text-align: center;
    text-transform: capitalize;
    top: 10px;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    width: calc(100% - 20px)
}
.gallery-view h3,
.gallery-view p {
    opacity: 0;
    -webkit-transition: all .3s ease 0s
}
.gallery-view h3 {
    background: #000;
    display: inline-block;
    font-size: 18px;
    padding: 2px 5px;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    transition: all .3s ease 0s
}
.gallery-view p {
    font-weight: 700;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    transition: all .3s ease 0s
}
.single-gallery:hover .gallery-view {
    opacity: 1
}
.single-gallery:hover .gallery-view h3,
.single-gallery:hover .gallery-view p {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0)
}
a.gallery-view:hover {
    color: #fff;
    cursor: url(../img/cursor.gif) 20 20, auto
}
.footer-area {
    padding: 15px 0
}
.footer-area a {
    color: #fff
}
.contact-address-and-details h4,
.logo h3 {
    text-transform: uppercase;
    color: #000
}
.footer-area .footer-copyright p {
    margin-bottom: 0
}
.nicescroll-rails.nicescroll-rails-vr {
    width: 0;
    display: none!important
}
#surface-shader,
.preeloader {
    height: 100%;
    width: 100%
}
.contact-address-and-details .logo {
    margin-bottom: 60px;
    border-bottom: 1px solid #ddd
}
.logo h3 {
    letter-spacing: 5px
}
.single-contact {
    margin-bottom: 40px;
    min-height: 80px;
    text-align: center
}
.single-contact p {
    margin-bottom: 5px
}
.contact-hidding {
    text-align: center;
    padding: 10px;
    background: #000;
    color: #fff;
    margin-bottom: 50px
}
.form-control {
    border: 1px solid;
    border-radius: 0;
    color: #000;
    margin-bottom: 20px;
    max-height: 130px;
    min-height: 40px;
    font-size: 16px
}
.form-control:focus {
    border-color: #000;
    box-shadow: 0 0 0
}
.contact-form button {
    background: #333;
    border: 0;
    color: #fff;
    float: right;
    letter-spacing: 1px;
    padding: 10px 25px;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}
.contact-form button i {
    margin-left: 10px
}
.contact-form button:hover {
    background: #000
}
.video-bg .main-area-bg {
    background: 0 0
}
.fullscreen-perticle .main-area-bg {
    background: url(../img/background/default_5.jpg) center center/cover no-repeat rgba(0, 0, 0, 0)
}
.fullscreen-perticle #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
}
.ripple-bg .main-area {
    background: url(../img/background/water_3.jpg) center center/cover no-repeat rgba(0, 0, 0, 0)
}
.map-bg .main-area-bg,
.ripple-bg .main-area-bg,
.zoom-slider-bg .main-area-bg {
    background: 0 0
}
.map-bg .main-area-bg:after {
    opacity: .8
}
.solid-bg .main-area-bg {
    background: #00aff0
}
.bubble-perticle #bubble-perticle .sketch {
    position: relative;
    z-index: 2
}
.bubble-perticle .home-button,
.bubble-perticle .subscriber-form form {
    z-index: 9;
    position: relative
}
#surface-shader,
.rainbow-square #rainbow-square {
    position: absolute
}
.preeloader {
    background: rgba(255, 255, 255, 1);
    position: fixed;
    z-index: 999999
}
.preloader-spinner {
    width: 60px;
    height: 60px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute
}
.preloader-spinner img {
    width: 100%
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .welcome-text h3 {
        font-size: 32px
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .section-padding {
        padding: 80px 0
    }
    .padding-top {
        padding-top: 80px
    }
    .area-title h2 {
        font-size: 40px
    }
    .welcome-text h3 {
        font-size: 30px
    }
    .subscriber-form form {
        width: 60%
    }
}
@media only screen and (max-width: 767px) {
    .section-padding {
        padding: 80px 0
    }
    .area-title {
        margin-bottom: 25px
    }
    .area-title h2 {
        font-size: 28px
    }
    .padding-top {
        padding-top: 50px
    }
    .gallery-area.padding-bottom,
    .service-area.padding-bottom {
        padding-bottom: 20px
    }
    .welcome-text h1 {
        font-size: 18px;
        letter-spacing: 2px;
        margin-bottom: 30px
    }
    .welcome-text h3 {
        font-size: 16px;
        letter-spacing: 1px;
    }
    .coundown-timer {
        font-size: 30px
    }
    .single-counter {
        padding: 10px 3px 0;
        width: auto
    }
    .single-counter .normal {
        margin-bottom: 3px;
        margin-top: 15px;
        padding: 0
    }
    .single-counter::before {
        bottom: 30px;
        top: auto
    }
    .subscriber-form form {
        width: 100%
    }
    .subscriber-form form button {
        width: auto
    }
    .information-contact,
    .social-book-mark {
        display: none
    }
    .home-button {
        margin-top: inherit
    }
    .home-button a {
        margin: 0 8px;
        min-width: 120px
    }
    .left-contact-content,
    .right-details-content {
        left: -100%;
        width: 100%
    }
    .right-details-content {
        left: auto;
        right: -100%
    }
}